{% extends "base.twig" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="header">
          <h4 class="title">Moisture sensor data</h4>
        </div>
        <div class="content">
          <div id="moisturedata" class="ct-chart"></div>
          <div class="footer">
            <div class="legend">
              <i class="fa fa-circle text-info"></i> Moisture level
            </div>
            <hr>
            <div class="stats datepicker-container">
              <i class="fa fa-history"></i> Range from
              <div>
                <input id="moisture-start" type="text" class="form-control">
              </div>
              to
              <div>
                <input id="moisture-end" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="header">
          <h4 class="title">Light sensor data</h4>
        </div>
        <div class="content">
          <div id="" class="ct-chart"></div>
          <div class="footer">
            <div class="legend">
              <i class="fa fa-circle text-info"></i> Light intensity
            </div>
            <hr>
            <div class="stats datepicker-container">
              <i class="fa fa-history"></i> Range from
              <div>
                <input id="light-start" type="text" class="form-control">
              </div>
              to
              <div>
                <input id="light-end" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- row -->

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="header">
          <h4 class="title">Temperature sensor data</h4>
        </div>
        <div class="content">
          <div id="" class="ct-chart"></div>
          <div class="footer">
            <div class="legend">
              <i class="fa fa-circle text-info"></i> Temperatue
            </div>
            <hr>
            <div class="stats datepicker-container">
              <i class="fa fa-history"></i> Range from
              <div>
                <input id="temperatue-start" type="text" class="form-control">
              </div>
              to
              <div>
                <input id="temperature-end" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="header">
          <h4 class="title">Humidity sensor data</h4>
        </div>
        <div class="content">
          <div id="" class="ct-chart"></div>
          <div class="footer">
            <div class="legend">
              <i class="fa fa-circle text-info"></i> Humidity
            </div>
            <hr>
            <div class="stats datepicker-container">
              <i class="fa fa-history"></i> Range from
              <div>
                <input id="humidity-start" type="text" class="form-control">
              </div>
              to
              <div>
                <input id="humidity-end" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- row -->
</div> <!-- container-fluid -->
{% endblock %}

{% block customscript %}
<script type="text/javascript">
  $(document).ready(function(){
    plantlife.initChartist();
    plantlife.initDatepicker();
  });
</script>
{% endblock %}
